* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: #f4f7f7;
}

a {
  text-decoration: none;
  color: #1e90ff;
  background: #ffffff;
}

.form_container {
  margin: 10em auto 0 auto;
  border: 1px solid;
  max-width: 400px;
  height: auto;
  background: #ffffff;
  color: #333;
}

.form_container h1 {
  text-align: center;
  padding: 0.5em;
  color: #333;
  background: #ffffff;
}

.form_container form {
  margin: 2em auto;
  width: 80%;
  display: flex;
  background: #ffffff;
  flex-direction: column;
}

.form_container form input {
  padding: 1em;
  margin-bottom: 1em;
  background: #ffffff;
  color: #333;
  outline: none;
  border: 1px solid;
  border-radius: 5px;
}

.form_container button {
  margin: 1em auto;
  padding: 1em;
  width: 50%;
  border-radius: 1em;
  outline: none;
  border: 1px solid;
  background: #1e90ff;
  color: #fff;
}

input[type='text'],
input[type='email'],
input[type='password'] {
  font-size: 16px;
}

::placeholder {
  color: #aeb0bf;
}

.form_container input:focus {
  border: 1px solid #1e90ff;
}

.form_container button:hover {
  cursor: pointer;
}

.form_message {
  text-align: center;
  padding: 0.5em;
  line-height: 2em;
  background: #ffffff;
  margin: 1em auto 1em auto;
}

span,
p {
  background: #ffffff;
  color: #333;
}

.welcome_page {
  margin: 10em auto;
  text-align: center;
}
